/* Global All Fonts*/
@import url('fonts.css');

/* Global Main Color */
:root {
    scroll-behavior: smooth;
    --darker: #212322;
    --dark:   #394240;
    --white:  #F4F4F4;
    --orange: #ee6825;
    --blue:   #45a9b7;
}

/* ---- Start NavBar ---- */
.navbar .navbar-brand {
    width: 150px;
}
.navbar-collapse {
    position: fixed;
    left:0 ;
    top: 86px;
    z-index: 999;
    width: 250px;
    height: calc(100vh - 86px);
    padding-left: 29px;
    background: #f6f6f6;
    transition: height ease-in .3s;
    font-family: 'Ubuntu', sans-serif;
}
.navbar .quick-access {
    cursor: pointer;
    width:  70px;
    height: 70px;
}
.navbar .quick-access div {
    display: inline-flex;
    color: var(--white);
}
.navbar .quick-access div i {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  35px;
    height: 35px;
}
.navbar .quick-access div:nth-child(2n) {
    margin: -5px;
}
.navbar .quick-access div:nth-child(1) {
    background-color: var(--dark);
}
.navbar .quick-access div:nth-child(2) {
    background-color: var(--blue);
}
.navbar .quick-access div:nth-child(3) {
    background-color: var(--orange);
}
.navbar .quick-access div:nth-child(4) {
    background-color: var(--white);
    color: #000;
}
/* ---- End NavBar ---- */

/* ---- Start Home ---- */
.home {
    overflow: hidden;
    padding-bottom: 100px;
}
/*first section*/
.home > div:first-child {
    padding-top: 100px;
}
.home h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}
.home  h4 {
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.home a {
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}
/*second section*/
.home img.yes-man-img {
    height: 350px;
    margin-top: 50px;
    position: relative;
}
.home img.shadow-img {
    z-index: -1;
    position: absolute;
    height: 270px;
    bottom: -20vh;
}
@media (min-width: 1200px){
    .home img.shadow-img {
        right: -115%;
    }
}
@media (max-width: 1200px){
    .home img.shadow-img {
        right: -155%;
    }
}
@media (max-width: 991px){
    .home img.shadow-img {
        right: -220%;
    }
}
@media (max-width: 767px){
    .home div div div:nth-child(2) {
        display: none;
    }
}
/*idea*/
.home .idea {
    position: absolute;
    left: 165px;
    top: -80px;
    list-style: none;
}
.home .idea li {
    transition: opacity ease-in-out 1s;
}
.home .idea li > div {
    display: flex;
    height: 100px;
}
.home .idea li > div > div {
    padding-left: 20px;
}
.home .idea li:not(.active) {
    opacity: .2;
}
.home .idea img {
    width: 100px;
    height: 100px;
}
.home .idea h5,
.home .idea p {
    font-family: 'Fredoka One', fantasy;
}
.home .idea h5 {
    text-transform: uppercase;
    width: max-content;
    padding-top: 10px;
    font-size: 18pt;
}
.home .idea h5 {
    color: var(--orange);
}
.home .idea p {
    text-transform: capitalize;
    display: block;
    padding-left: 15px;
    font-size: 15pt;
}
.home .idea li:nth-child(1) {
    transform: translateX(-80px);
}
.home .idea li:nth-child(2) {
    transform: translateX(0);
}
.home .idea li:nth-child(3) {
    transform: translateX(60px);
}
.home .idea li:nth-child(2) > div {
    margin: 20px 0;
}
@media (max-width: 992px) {
    .home .idea {
        display: none;
    }
}
/* ---- End Home ---- */

/* ---- Start About US ---- */
.about-us {
    background-color: var(--dark);
    padding: 3rem 0;
}
.about-us h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: var(--orange);
}
.about-us p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: var(--white);
}
/* ---- End About US ---- */

/* ---- Start Our Projects ---- */
.our-project {
    text-align: center;
    padding: 3rem 0;
}
.our-project .title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    color: var(--orange);
    font-size: 2.5rem;
}
.our-project .container > p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.our-project .container > hr {
    margin: 1rem auto 3rem;
    border: 2px solid var(--orange);
}
/*card*/
.our-project .card {
    text-align: center;
    border: none;
    transition: all ease-in-out .3s;
}
.our-project .card h5 {
    font-size: 2.5rem;
}
.our-project .card p {
    font-size: 13pt;
    font-family: 'Myriad Pro Light', sans-serif;
}
.our-project .card img {
    max-width: 400px;
    margin: 0 auto;
}
/*slick-slide*/
.our-project .card.slick-slide.slick-current.slick-center  {
    transform: scale(1);
}
.our-project .card.slick-slide.slick-active {
    transform: scale(.8);
}
/* ---- End Our Projects ---- */

/* ---- Start Service ---- */
.service {
    background-color: var(--dark);
    padding: 3rem 0;
}
.service h2,
.service h2 + p {
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
}
.service h2 {
    font-family: 'Ubuntu', sans-serif;
}
.service .card {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 3rem 1rem;
    height: 482px;
    width: 345px;
}
.service .card i {
    font-size: 15rem;
}
.service .card h5 {
    font-family: "Fredoka One",fantasy;
    font-size: 1.5rem;
}
.service .card p {
    font-size: 1.1rem;
}
.service .card.slick-slide.slick-center {
    transition: all ease-in-out .3s;
    transform: scale(.8);
    color: #FFF;
    background-color: var(--orange);
}
.service .card.slick-slide.slick-current.slick-center {
    transform: scale(1);
    color: var(--dark);
    background-color: var(--white);
}

@media (max-width: 992px) {
    .service .row {
        flex-direction: column-reverse;
    }
    .service .row > div {

        max-width: 100%;
        flex: 0 0 100%;
    }
}
/* ---- End Service ---- */


/* ---- Start Contact Us ---- */
.contact-us {
    font-family: Ubuntu,sans-serif;
}
/*contact information*/
.contact-us h2{
    color: #FFF;
}
.contact-us .information {
    color: #FFF;
    padding: 2rem 1rem;
}
.contact-us .information > div:not(:last-of-type) {
    margin-bottom: 1rem;
}
.contact-us .information i {
    color: var(--white);
    padding-right: 1.5rem;
}
.contact-us ul {
    list-style: none;
    padding-left: 1rem;
    margin: 15px 0 25px;
}
.contact-us ul li {
    display: inline-block;
    margin: 5px 2px;
}
.contact-us .social-media li {
    margin: 3px;
}
.contact-us .social-media li a {
    padding: 7px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
}
.contact-us .social-media li a:hover {
    background-color: #FFF;
}
/*write to us*/
.contact-us .form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    background-color: transparent;
    font-weight: 600;
}
/* ---- End Contact Us ---- */

/* ---- Start footer ---- */
@media (min-width: 992px) {
    .col-md-2 {
        flex:0 0 16.666667%;max-width:16.666667%
    }
    .col-md-5 {
        flex:0 0 41.666667%;max-width:41.666667%
    }
    .col-md-4 {
        flex:0 0 33.333333%;max-width:33.333333%
    }
}
.footer {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    /*border-top: 1px solid var(--gray);*/
    padding: 3rem 0;
}
.footer ul {
    list-style: none;
    padding-left: 0;
}
.footer ul li {
    display: inline-block;
    margin: 10px 5px;
}
.footer a {
    transition:
            color .4s ease-in-out,
            background-color .4s ease-in-out;
    color: #000;
    text-decoration: none;
}
.footer a:hover {
    color: #535353;
}
.footer .brand {
    align-self: center;
}
.footer .brand img {
    width: 160px;
}
.footer .brand p {
    font-weight: bold;
    font-size: 12px;
}
.footer .quick-access {}
.footer .quick-access ul {
    font-weight: bold;
    margin-bottom: 5px;
}
.footer .quick-access p {
    padding-left: 10px;
}
.footer .social-media {
    display: flex;
    justify-content: center;
    align-self: center;
}
.footer .social-media ul li {
    margin: 3px;
}
.footer .social-media ul li a {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--dark);
    color: #FFF;
}
.footer .social-media ul li a:hover {
    background-color: #000;
}
/* ---- End footer ---- */
